# Problem 2.4.1 

Repeat the first part of [IntroML/Examples/PandasDemo.ipynb](https://github.com/satishchandrareddy/IntroML/blob/master/Examples/Chapter2/PandasDemo.ipynb). Read data from mydf1.csv.

In [3]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.read_csv('mydf1.csv')
df1.head()

   label  feature 1  feature 2
0  0.123   0.715279  -1.545400
1  1.230   0.500000  -0.720086
2 -1.450   0.500000   0.004291
3  0.510   0.433026   1.203037

**(a)**	Output a Y numpy array that has the square of the entries in the “label” column of the file.

In [13]:
Y = (df1['label'].values)**2
Y

array([0.015129, 1.5129  , 2.1025  , 0.2601  ])

**(b)**	Output a X numpy array whose first column has the square root of the entries in the “feature 1” column and whose second column has the exponential of the entries in the “feature 2” column.

In [25]:
X_df = df1[['feature 1', 'feature 2']].copy()
X

   feature 1  feature 2
0   0.715279  -1.545400
1   0.500000  -0.720086
2   0.500000   0.004291
3   0.433026   1.203037

In [28]:
df1['sqrt feature 1'] = np.sqrt(df1['feature 1'])
df1['exp feature 2'] = np.exp(df1['feature 2'])
X = df1[['sqrt feature 1', 'exp feature 2']].values
X

array([[0.84574167, 0.2132265 ],
       [0.70710678, 0.48671061],
       [0.70710678, 1.00430065],
       [0.65804726, 3.33021669]])